@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center telainic rounded-pill">
    <div class="">
    <h2 class="display-1 tituloinic">ExTI</h2>
    </div>
    <p class="subtituloinic">Exercício de Cadastro de Clientes, Máquinas e Inventário</a>.</p>
</div>
