@model ExTI.Models.InventarioModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventário</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nome do Cliente</label>
                <select name="IdCliente" class="form-control">
                    @foreach (var item in Model.ListaClientes)
                    {
                        <option value="@item.IdCliente">@item.NomeCliente</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Patrimônio Máquina</label>
                <select name="IdMaquina" class="form-control">
                    @foreach (var item in Model.ListaMaquinas)
                    {
                        <option value="@item.IdMaquina">@item.Patrimonio</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" placeholder="Digite o Valor da Máquina..." />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" placeholder="Digite a Quantidade de Máquinas..." />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
